.login {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: cornflowerblue;
    margin: auto;
    width: 500px;
    height: 350px;
    border: solid 1px cyan;
    border-radius: 5px;
    padding: 15px;

}
.section {
    height: -webkit-fill-available;
    background-color: darkslateblue;
}
.login  .login-inputs {
    border-radius: 5px;
    box-shadow: none;
    border: none;
    padding: 5px;
    display: block;
    width: -webkit-fill-available;
}
.invalid {
    color: red;
}