<section class="section admin-dashboard">
    <app-header></app-header>
    <div class="group-list">
        <div class="row">
            <div class="middle">
                <button class="btn btn-primary pull-right addGroup" (click)="showaddModal()">Add Group</button>
            </div>
        </div>
        <table class="table table-stripped">
            <thead>
                <tr>
                    <td>Group Name</td>
                    <td>Group Type</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let g of groupList; let i = index">
                    <td>{{g.groupName}}</td>
                    <td>{{g.type}}</td>
                    <td>
                        <p (click)="delete(g.groupName)"><a>Delete</a></p>
                        <p (click)="editGroup(i)"><a>Edit</a></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- EDIT MODAL -->
    <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
        <div class="modal-dialog">
            <div class="modal-content">+

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">User Details:</h4>
                    <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p readonly>Group Name : {{editGoupDetail.groupName}}</p>
                    <p>Type : <input type="text" [(ngModel)]="editGoupDetail.type"></p>
                    <div *ngFor="let groupMember of editGoupDetail.members; let j= index ">
                        <input [(ngModel)]="groupMember" readonly><span class="delete" (click)="removeMember(groupMember)">X</span>
                    </div>
                    <input placeholder="add member" [(ngModel)]="newMember"> <span class="btn-primary add" (click)="addMember()"> Add</span>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="edit()">Edit</button>
                </div>

            </div>
        </div>
    </div>
    <!-- EDIT MODAL ENDS HERE -->
    <!-- ADD GROUP MODAL -->
    <div class="modal" id="myModal" [style.display]="showAddModal ? 'block' : 'none'">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">User Details:</h4>
                    <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p>Group Name : <input type="text" [(ngModel)]="newGroupDetail.groupName"></p>
                    <p>Type : <input type="text" [(ngModel)]="newGroupDetail.type"></p>
                    <div *ngFor="let groupMember of newGroupDetail.members; let j= index ">
                        <input [(ngModel)]="groupMember" readonly>
                    </div>
                    <input placeholder="add member" [(ngModel)]="newMember"> <span class="btn-primary add" (click)="addMemberToNewGrp()"> Add</span>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="add()">Add</button>
                </div>

            </div>
        </div>
    </div>
</section>