.card {
  margin: 20px;
}

.comment-footer {
  width: 100%;
}

.card textarea {
  display: block;
  width: 100%;
  margin: 20px 0px;
  color: darkblue;
}
.title {
  cursor: pointer;
}
.comment-footer button {
  float: right;
}

.list-of-comment {
  margin: 5px 0px;
  color: darkblue;
}
.blog-btn {
  text-align: right;
  margin-bottom: 20px;
}
